USE [SalesDB]
GO
/****** Object:  Schema [Sales]    Script Date: 7/24/2025 3:09:23 PM ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Table [Sales].[Customers]    Script Date: 7/24/2025 3:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Customers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Employees]    Script Date: 7/24/2025 3:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[BirthDate] [date] NULL,
	[Gender] [char](1) NULL,
	[Salary] [int] NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Orders]    Script Date: 7/24/2025 3:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Orders](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[OrderDate] [date] NULL,
	[ShipDate] [date] NULL,
	[OrderStatus] [varchar](50) NULL,
	[ShipAddress] [varchar](255) NULL,
	[BillAddress] [varchar](255) NULL,
	[Quantity] [int] NULL,
	[Sales] [int] NULL,
	[CreationTime] [datetime2](7) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[OrdersArchive]    Script Date: 7/24/2025 3:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[OrdersArchive](
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[OrderDate] [date] NULL,
	[ShipDate] [date] NULL,
	[OrderStatus] [varchar](50) NULL,
	[ShipAddress] [varchar](255) NULL,
	[BillAddress] [varchar](255) NULL,
	[Quantity] [int] NULL,
	[Sales] [int] NULL,
	[CreationTime] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Products]    Script Date: 7/24/2025 3:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Products](
	[ProductID] [int] NOT NULL,
	[Product] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Sales].[Customers] ([CustomerID], [FirstName], [LastName], [Country], [Score]) VALUES (1, N'Jossef', N'Goldberg', N'Germany', 350)
INSERT [Sales].[Customers] ([CustomerID], [FirstName], [LastName], [Country], [Score]) VALUES (2, N'Kevin', N'Brown', N'USA', 900)
INSERT [Sales].[Customers] ([CustomerID], [FirstName], [LastName], [Country], [Score]) VALUES (3, N'Mary', NULL, N'USA', 750)
GO
INSERT [Sales].[Employees] ([EmployeeID], [FirstName], [LastName], [Department], [BirthDate], [Gender], [Salary], [ManagerID]) VALUES (1, N'Frank', N'Lee', N'Marketing', CAST(N'1988-12-05' AS Date), N'M', 55000, NULL)
INSERT [Sales].[Employees] ([EmployeeID], [FirstName], [LastName], [Department], [BirthDate], [Gender], [Salary], [ManagerID]) VALUES (2, N'Kevin', N'Brown', N'Marketing', CAST(N'1972-11-25' AS Date), N'M', 65000, 1)
INSERT [Sales].[Employees] ([EmployeeID], [FirstName], [LastName], [Department], [BirthDate], [Gender], [Salary], [ManagerID]) VALUES (3, N'Mary', NULL, N'Sales', CAST(N'1986-01-05' AS Date), N'F', 75000, 1)
GO
INSERT [Sales].[Orders] ([OrderID], [ProductID], [CustomerID], [SalesPersonID], [OrderDate], [ShipDate], [OrderStatus], [ShipAddress], [BillAddress], [Quantity], [Sales], [CreationTime]) VALUES (1, 101, 2, 3, CAST(N'2025-01-01' AS Date), CAST(N'2025-01-05' AS Date), N'Delivered', N'9833 Mt. Dias Blv.', N'1226 Shoe St.', 1, 10, CAST(N'2025-01-01T12:34:56.0000000' AS DateTime2))
INSERT [Sales].[Orders] ([OrderID], [ProductID], [CustomerID], [SalesPersonID], [OrderDate], [ShipDate], [OrderStatus], [ShipAddress], [BillAddress], [Quantity], [Sales], [CreationTime]) VALUES (2, 102, 3, 3, CAST(N'2025-01-05' AS Date), CAST(N'2025-01-10' AS Date), N'Shipped', N'250 Race Court', NULL, 1, 15, CAST(N'2025-01-05T23:22:04.0000000' AS DateTime2))
INSERT [Sales].[Orders] ([OrderID], [ProductID], [CustomerID], [SalesPersonID], [OrderDate], [ShipDate], [OrderStatus], [ShipAddress], [BillAddress], [Quantity], [Sales], [CreationTime]) VALUES (3, 101, 1, 5, CAST(N'2025-01-10' AS Date), CAST(N'2025-01-25' AS Date), N'Delivered', N'8157 W. Book', N'8157 W. Book', 2, 20, CAST(N'2025-01-10T18:24:08.0000000' AS DateTime2))
GO
INSERT [Sales].[OrdersArchive] ([OrderID], [ProductID], [CustomerID], [SalesPersonID], [OrderDate], [ShipDate], [OrderStatus], [ShipAddress], [BillAddress], [Quantity], [Sales], [CreationTime]) VALUES (1, 101, 2, 3, CAST(N'2024-04-01' AS Date), CAST(N'2024-04-05' AS Date), N'Shipped', N'123 Main St', N'456 Billing St', 1, 10, CAST(N'2024-04-01T12:34:56.0000000' AS DateTime2))
INSERT [Sales].[OrdersArchive] ([OrderID], [ProductID], [CustomerID], [SalesPersonID], [OrderDate], [ShipDate], [OrderStatus], [ShipAddress], [BillAddress], [Quantity], [Sales], [CreationTime]) VALUES (2, 102, 3, 3, CAST(N'2024-04-05' AS Date), CAST(N'2024-04-10' AS Date), N'Shipped', N'456 Elm St', N'789 Billing St', 1, 15, CAST(N'2024-04-05T23:22:04.0000000' AS DateTime2))
INSERT [Sales].[OrdersArchive] ([OrderID], [ProductID], [CustomerID], [SalesPersonID], [OrderDate], [ShipDate], [OrderStatus], [ShipAddress], [BillAddress], [Quantity], [Sales], [CreationTime]) VALUES (3, 101, 1, 4, CAST(N'2024-04-10' AS Date), CAST(N'2024-04-25' AS Date), N'Shipped', N'789 Maple St', N'789 Maple St', 2, 20, CAST(N'2024-04-10T18:24:08.0000000' AS DateTime2))
GO
INSERT [Sales].[Products] ([ProductID], [Product], [Category], [Price]) VALUES (101, N'Bottle', N'Accessories', 10)
INSERT [Sales].[Products] ([ProductID], [Product], [Category], [Price]) VALUES (102, N'Tire', N'Accessories', 15)
INSERT [Sales].[Products] ([ProductID], [Product], [Category], [Price]) VALUES (103, N'Socks', N'Clothing', 20)
GO
